<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h1>Bienvenido al Sistema de Venta</h1>
    <nav>
           <li><a href="{{ url_for('home') }}">Inicio</a></li>
        <a href="{{ url_for('login') }}">Iniciar Sesión</a> |
        <a href="{{ url_for('register') }}">Registrar</a> |
        <a href="{{ url_for('ventas_page') }}">Ventas</a> |
        <a href="{{ url_for('productos_page') }}">Productos</a> |
        <a href="{{ url_for('proveedores_page') }}">Proveedores</a>
    </nav>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
